# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.glTFast-demo-min-feature.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
